In [26]:
import pandas as pd

In [27]:
df=pd.read_csv('covid_19_data_portal.csv')

In [28]:
df.head(10)

,class,category,indicator_name,series_name,sub_series_name,parameter,value,units,date_last_updated
0,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-05-05,997.14,$,26-11-20
1,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-05-12,1000,$,26-11-20
2,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-05-19,1000,$,26-11-20
3,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-05-26,1000,$,26-11-20
4,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-06-02,995.19,$,26-11-20
5,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-06-09,1011.4,$,26-11-20
6,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-06-16,1006,$,26-11-20
7,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-06-23,1003.1,$,26-11-20
8,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-06-30,1008,$,26-11-20
9,Economic,Employment,Weekly median earnings (34 days),Total,Total,2019-07-07,1000,$,26-11-20